/* General styles for the page */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header section with background image and styling */
header {
    background: url('../images/fondo.png') center/cover no-repeat, #333; /* Imagen y color de fondo de respaldo */
    color: #fff; /* Texto blanco para contraste */
    padding: 40px 20px; /* Espaciado interior */
    text-align: center; /* Centrar el texto */
}

/* Header title styling */
header h1 {
    margin: 0;
    font-size: 3em; /* Tamaño destacado para el título */
}

/* Header paragraph styling */
header p {
    font-size: 1.5em; /* Tamaño adecuado para la descripción */
    margin-top: 10px; /* Espaciado superior */
}

/* Main content styling */
main {
    padding: 20px; /* Espaciado interior para la sección principal */
}

/* General styling for sections */
section {
    margin-bottom: 20px; /* Espaciado inferior entre secciones */
}

/* Styling for project cards */
.project-card {
    background: #fff; /* Fondo blanco para destacar la tarjeta */
    border: 1px solid #ddd; /* Borde gris claro */
    padding: 10px; /* Espaciado interno de la tarjeta */
    margin-bottom: 10px; /* Espaciado inferior entre tarjetas */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
}

/* Footer styling */
footer {
    text-align: center; /* Centrar el texto en el pie de página */
    padding: 10px; /* Espaciado interno */
    background: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
}

footer a {
    color: #4db8ff; /* Un azul claro para contrastar con el fondo oscuro */
    text-decoration: underline; /* Mantén el subrayado para indicar claramente que es un enlace */
}

footer a:hover {
    color: #fff; /* Cuando el ratón pase por encima, el enlace se verá blanco */
    text-decoration: none; /* Quita el subrayado para darle un efecto visual */
}
